---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Links } from "@/types/Links";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/");
}

const req = await fetch(`https://shopping-cart-backend-three.vercel.app/api/products/${id}`);
if (!req.ok) {
  return Astro.redirect("/");
}
const { data }: { data: Links } = await req.json();
if (!data) {
  return Astro.redirect("/");
}
---
<BaseLayout>
  <div class="flex gap-2">
    <button type="submit" class="bg-red-400 text-white py-2 px-6" id="delete">Delete Link</button>
    <a class="bg-teal-500 text-white py-2 px-6" href={`/edit/${data._id}`}>Edit Link</a>
  </div>
  <script define:vars={{
    id: data.id,
  }}>
    const deleteBtn = document.querySelector("#delete");
    deleteBtn.addEventListener("click", async (e) => {
      e.preventDefault();
      try {
        const res = await fetch(`/api/${id}.json`, {
          method: "DELETE"
        });
        if (res.ok) {
          window.location.href = "/";
        } else {
          throw new Error("Failed to delete the link");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</BaseLayout>
