---
import React from "react";
import ProductManagement from "../components/ProductManagement";
import ProductList from "../components/ProductList.astro";
---

<html>
  <head>
    <title>Product Management</title>
  </head>
  <body>
    <ProductManagement />
    <ProductList />

  </body>
</html>
